* {
   box-sizing: border-box;
   font-size: 57%;

   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   font-family: "Montserrat", sans-serif;
}

header {
   width: 100%;
   height: 850px;

   background: url(../assets/images/background-header.jpg) center/cover no-repeat;

   color: white;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

nav a:visited {
   color: white;
}

nav {
   width: 80%;
   height: auto;

   padding: 20px 5px;
   margin: 0 auto;

   text-align: center;
}

nav li {
   display: inline-block;

   font-size: 2.4rem;
   font-weight: 700;
}

.nav-main {
   display: flex;
   flex-direction: row;

   justify-content: space-evenly;
}

nav .brand-name {
   margin-bottom: 20px;

   font-size: 4.8rem;
   font-weight: 700;
}

.header-titles {
   width: 60%;
   height: 100%;

   margin: 0 auto;
   margin-top: 120px;

   text-align: center;
}

.header-titles p {
   font-size: 1.6rem;
   font-weight: 700;

   color: #23a6f0;
}

.header-titles h1 {
   margin-top: 30px;

   font-size: 3.6rem;
   font-weight: 400;
   line-height: 6.4rem;
}

.header-titles h4 {
   margin-top: 40px;

   font-size: 1.6rem;
   font-weight: 400;
}

.header-titles button {
   width: 130px;
   height: 50px;

   padding: 10px;
   margin-top: 40px;

   font-family: "Montserrat", sans-serif;
   font-size: 1.4rem;
   font-weight: 700;

   border: none;
   border-radius: 5px;

   color: white;
   background-color: #23a6f0;
}

.practice-areas {
   width: 80%;
   height: auto;

   margin: 0 auto;
   margin-top: 50px;
}

.blue-title {
   font-size: 1.2rem;
   font-weight: 700;

   color: #23a6f0;
}

.subtitle {
   margin-top: 10px;

   font-size: 2.6rem;
   font-weight: 700;
}

.paragraph {
   min-width: 380px;
   max-width: 50%;
   margin-top: 10px;

   font-size: 1.2rem;
   font-weight: 400;

   color: #737373;
}

.areas-cards .card {
   width: 35%;
   min-width: 288px;
   height: auto;

   padding: 30px;
   margin: 0 auto;
   margin-top: 50px;

   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.law-icon {
   display: inline-block;

   width: 20px;
   height: 20px;

   background: url(../assets/icons/law.svg) center/cover no-repeat;
}

.balance-icon {
   display: inline-block;

   width: 20px;
   height: 20px;

   background: url(../assets/icons/balance.svg) center/cover no-repeat;
}

.balance-opposite-icon {
   display: inline-block;

   width: 20px;
   height: 20px;

   background: url(../assets/icons/balance-opposite.svg) center/cover no-repeat;
}

.text-check-icon {
   display: inline-block;

   width: 20px;
   height: 20px;

   background: url(../assets/icons/list-check.svg) center/cover no-repeat;
}

.law-bg-color {
   width: 40px;

   padding: 10px;

   border-radius: 5px;
   background-color: #B3E3FF;
}

.areas-cards h4 {
   margin-top: 15px;
   font-size: 1.3rem;
}

.areas-cards hr {
   width: 15%;

   margin-top: 10px;

   border: 1px solid #E74040;
}

.areas-cards p {
   margin-top: 10px;

   font-size: 1rem;
   color: #737373;
}

.meet-our-attorneys {
   width: 80%;

   margin: 0 auto;
   margin-top: 50px;
}

.attorney-group-cards {
   margin-top: 80px;
   padding: 20px;
}

.meet-our-attorneys .attorney-card {
   margin: 0 auto;
   margin-bottom: 40px;

   width: auto;
   min-width: 230px;
   max-width: 380px;
   height: auto;

}

.card-main {
   width: 80%;
   margin-top: 8px;
}

.blue-subtitle-card {
   font-size: 1.2rem;
   font-weight: 700;

   color: #23A6F0;
}

.subtitle-card {
   margin-top: 6px;

   font-size: 1.3rem;
   font-weight: 700;
}

.paragraph-card {
   width: 160px;
   margin-top: 10px;

   font-size: 1rem;
   font-weight: 400;

   color: #737373;
}

.stars-background {
   display: inline-block;
   position: relative;

   top: 5px;
   left: 30px;

   width: 40px;
   height: 20px;

   background: url(../assets/images/stars-with-background.png) center/cover no-repeat;
}

.download-icon {
   display: inline-block;
   position: relative;

   top: 3px;

   margin-right: 10px;

   width: 15px;
   height: 15px;

   background: url(../assets/icons/download.svg) center/cover no-repeat;
}

.card-main .sales-number {
   margin: 15px 0;
   font-size: 1.2rem;
   font-weight: 700;

   color: #737373;
}

.card-main .price-gray,
.price-green {
   font-size: 1.4rem;
   font-weight: 700;

   color: #737373;
}

.card-main .price-gray {
   color: #737373;
}

.card-main .price-green {
   margin-left: 10px;
   color: #40BB15;
}

.card-main button {
   width: 130px;
   height: 40px;

   margin: 15px 0 5px 30px;

   border: 1px solid #23A6F0;
   border-radius: 18px;

   font-size: 1.2rem;
   font-weight: 700;
   font-family: "Montserrat", sans-serif;

   color: #23a6f0;
   background-color: white;
}

.right-blue-arrow {
   display: inline-block;
   position: relative;

   top: 2px;
   right: -7px;

   width: 8px;
   height: 12px;

   background: url(../assets/icons/blue-arrow-right.svg) center/cover no-repeat;
}